@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
    -webkit-app-region: drag;
    font-family: 'Open Sans', sans-serif;
}

#title {
    text-align: center;
}

.menu_button {
    -webkit-app-region: no-drag;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-width: 3px;
    font-weight: bold;
    width: 170px;
    height: 90px;
    box-shadow: inset 0px -7px gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.2s;
}

.menu_button:hover {
    color: white;
    background-color: #00a2ed;
    cursor: pointer;
    transition: 0.2s;
}

.menu_button:hover:active {
    color: black;
    background-color: white;
    box-shadow: inset 0px 0px gray;
    transition: 0.1s;
}
